#topbar a {
    color: #fff;
    font-size:1.3em;
    line-height: 1.25em;
    text-decoration: none;
    opacity: 0.5;
    font-weight: bold;
}

#topbar {
    background: #4f4a41;
    padding: 10px 0 10px 0;
    text-align: center;
    height: 36px;
    overflow: hidden;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

#userphoto {
    display: block;
    float: right;
    margin-left: 10px;
    margin-bottom: 8px;
}

body {
    background: #f0f0f0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #313131;
    font-size: 62.5%;
    line-height: 1;
}