h1{
    padding-left: 30px;
}

#topbar a {
    color: #fff;
    font-size: medium;
    line-height: 1.25em;
    text-decoration: none;
    opacity: 0.5;
    font-weight: bold;
}

#topbar {
    background: #4f4a41;
    /*padding: 10px 0 10px 0;*/
    text-align: center;
    height: 36px;
    overflow: hidden;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

#userphoto {
    display: block;
    float: right;
    margin-left: 10px;
    margin-bottom: 8px;
    padding-right: 40px;
}

body {
    background: #f0f0f0;
    font-family: Arial;
    color: #313131;
    font-size: 62.5%;
    line-height: 1;
}

#tableDiv{
    padding-top: 30px;
    padding-left: 30px;
}

table {
    width: 90%;
    border: 1px solid black;
    font-family: arial;
    font-size: medium;
}

th, td {
    height: 30px;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd
}

td{
    height: 35px;
}

th {
    background-color: darkgray;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/*
img
{
    width: 180px;
    height: 254px;
}
*/
input {
    size: 5px;
}