body
{
    background: #f0f0f0;
    font-family: Arial;




}

img
{
    width: 180px;
    height: 254px;
}

.main
{
    margin: 50px auto;
}

#logInButton {
    position: absolute;
    top:10px;
    right: 10px;
}

.headline
{
    min-height: 130px;
    min-width: 100%;
    display: inline-flex;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
    font-family: Arial;
    color: darkorange;
    background-color: black;
}

.controlpanel
{
    font-family: Arial;
    float: left;
    margin: 0.5%;
    margin-left: 30px;
    width: 12%;
    max-width: 400px;
    min-width: 100px;
    height: 550px;
    position: absolute;
    background-color: gray;
}

.productdisplayarea
{
    margin-top: 15px;
    width: 92%;
    float: right;
    max-width: 78%;
    background-color: white;

}

#area{
    float: left;
    background: #f0f0f0;
}

.specificproductouter
{
    width: 240px;
    height: 496px;
    border: solid;
    margin-top: 15px;
    margin-right: 4px;
    float:left;
    background-color:white;
}

.productpic
{
    width: 180px;
    height: 254px;
    margin-left: 30px;
    margin-top: 15px;
}

.producttitle
{
    width: auto;
    height: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.productinfo
{
    width: 205px;
    height: 145px;
    border-top: solid;
    margin: 15px;
    text-align: center;
}

.productpurchase
{
    width: 240px;
    height: 40px;
    bottom: 30px;
}

.pricetext
{
    background-color: gold;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    float: left;
}

#companyName{
    padding-left: 2%;
    padding-top:1%;
}

input[name="addtocart"]
{
    margin-right: 10px;
    float: right;
}

.form{
    font-family: Arial;


    padding-left: 4%;
    padding-top: 8%;
}

.padding

#searchOption{
    padding-top: 40px;
}