body
{
    background-image: url("http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}

img
{
    width: 180px;
    height: 254px;
}

.main
{

    margin: 50px auto;
}

#logInButton {

    position: absolute;
    top:10px;
    right: 10px;
    padding-right: 1%;
}

.headline
{
    min-height: 130px;
    min-width: 100%;
    display: inline-flex;
   /* margin-left: 30px; */
    margin-left: 0.5%;
    margin-right: 30px;
    font-size: 30px;
    font-family: Arial;
    color: darkorange;
    background-color: black;
}

.controlpanel
{
    font-family: Arial;
    float: left;
    margin: 0.5%;
    width: 12%;
    max-width: 400px;
    min-width: 100px;
    height: 550px;
    position: absolute;
    background-color: gray;
    border: 2px solid black;
}

.productdisplayarea
{
    background-color: transparent;
    width: 94%;
    float: right;
    max-width: 85%;

}

#area{
    float: left;
    background: transparent;
}

.specificproductouter
{
    width: 240px;
    height: 496px;
    border: solid;
    margin-top: 10px;
    margin-right: 4px;
    float:left;
    background-color: rgba(0,0,0,0.5);
}

.productpic
{
    width: 180px;
    height: 254px;
    margin-left: 30px;
    margin-top: 15px;
    border-style: solid;
    border-width: thick;
}

.producttitle
{
    width: auto;
    height: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

.productinfo
{
    width: 205px;
    height: 145px;
    border-top: solid;
    margin: 15px;
    text-align: center;
}

.productpurchase
{
    text-align: right;
    width: 240px;
    height: 40px;
    bottom: 30px;
}

.pricetext
{
    background-color: gold;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    float: left;
}

#companyName{
    padding-left: 5px;
    padding-top:1%;
}

input[name="addtocart"]
{
    margin-right: 10px;
    float: right;
}

.form{
    font-family: Arial;
    padding-left: 4%;
    padding-top: 8%;
}


#searchOption{
    padding-top: 40px;
}

#logoLink{
    text-decoration: none;
}